# Dependencies
node_modules/
package-lock.json

# Build output
dist/

# Environment variables
.env
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 